@page "/discussion/{movieId}"
@using System.Net.Http.Headers
@using Microsoft.AspNetCore.SignalR.Client
@using blaz3.Model
@inject HttpClient Http
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="chat-panel-container">
    <h3 class="chat-title">Общий чат ✉ @movieName</h3>

    <div class="chat-container">
        <div class="chat-messages">
            @foreach (var msg in messages)
            {
                <div class="chat-message @((msg.UserId == userId) ? "my-message" : "other-message")">
                    <NavLink href=@($"/userchat/{msg.UserId}?recipientName={msg.UserName}") class="message-user">@msg.UserName</NavLink>:
                    @if (msg.Message.Contains("[Изображение:"))
                    {
                        var imagePath = msg.Message.Substring(msg.Message.IndexOf("[Изображение:") + "[Изображение: ".Length);
                        imagePath = imagePath.TrimEnd(']');
                        <span>@msg.Message.Substring(0, msg.Message.IndexOf("[Изображение:"))</span>
                        <img src="@imagePath" alt="Image" class="message-image" />
                    }
                    else
                    {
                        <span>@msg.Message</span>
                    }
                    <span class="message-time">@msg.Timestamp.ToString("HH:mm:ss")</span>
                </div>
            }
        </div>

        <div class="input-group">
            <InputFile OnChange="HandleSelectedFile" class="file-input" />
            <input type="text" @bind="message" class="form-control" placeholder="Ваше сообщение..." />
            <button @onclick="SendMessageGeneral" class="btn btn-send">📤</button>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa; /* Светлый фон */
        font-family: 'Arial', sans-serif; /* Шрифт */
    }

    .chat-panel-container {
        max-width: 500px; /* Максимальная ширина контейнера */
        margin: auto; /* Центрирование контейнера */
        padding: 30px; /* Отступы внутри контейнера */
        background-color: #ffffff; /* Белый фон для контейнера */
        border-radius: 10px; /* Закругленные углы */
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Тень для контейнера */
        text-align: left;
    }

    .chat-title {
        color: #5e4b8a; /* Цвет заголовка */
        text-align: center; /* Центрирование заголовка */
        margin-bottom: 20px; /* Отступ снизу */
    }

    .chat-container {
        display: flex;
        flex-direction: column;
        height: 400px;
    }

    .chat-messages {
        flex: 1;
        overflow-y: auto;
        margin-bottom: 10px;
        padding-right: 10px;
        border: 1px solid #ced4da; /* Рамка окна сообщений */
        border-radius: 10px; /* Закругленные углы окна сообщений */
        background: linear-gradient(to top, #f1f3f5, #e3f2fd); /* Градиент для фона окна сообщений */
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Тень для окна сообщений */
        padding: 15px; /* Отступы внутри окна сообщений */
    }

    .chat-message {
        margin: 10px 0;
        padding: 10px;
        border-radius: 8px;
        position: relative;
        transition: background-color 0.3s; /* Плавный переход */
    }

    .my-message {
        background-color: #e2d3f3; /* Цвет фона для сообщения пользователя (фиолетовый) */
        align-self: flex-end; /* Выравнивание сообщения пользователя вправо */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для сообщения пользователя */
    }

    .other-message {
        background-color: #d1c4e9; /* Цвет фона для сообщений других пользователей (светло-фиолетовый) */
        align-self: flex-start; /* Выравнивание сообщения других пользователей влево */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для сообщения других пользователей */
    }

    .message-user {
        color: #4a90e2; /* Цвет имени пользователя */
        font-weight: bold; /* Жирный шрифт */
    }

    .message-time {
        font-size: 0.7em;
        position: absolute;
        bottom: 5px;
        right: 10px;
        color: #888; /* Цвет времени */
    }

    .input-group {
        display: flex;
        align-items: center;
        margin-top: 10px; /* Отступ сверху */
    }

    .form-control {
        border: 1px solid #ced4da; /* Цвет рамки для полей ввода */
        border-radius: 5px; /* Закругленные углы полей ввода */
        padding: 10px; /* Отступ внутри поля */
        flex: 1; /* Занимает оставшееся пространство */
        margin-right: 10px; /* Отступ справа */
    }

        .form-control:focus {
            border-color: #6f42c1; /* Цвет рамки при фокусе */
            box-shadow: 0 0 5px rgba(111, 66, 193, 0.5); /* Тень при фокусе */
        }

    .btn-send {
        background-color: #6f42c1; /* Фон кнопки */
        border: none; /* Убираем границу */
        border-radius: 5px; /* Закругленные углы кнопки */
        color: white; /* Цвет текста кнопки */
        padding: 10px 15px; /* Отступы внутри кнопки */
        transition: background-color 0.3s; /* Плавный переход */
        cursor: pointer; /* Указатель при наведении */
    }

        .btn-send:hover {
            background-color: #5e4b8a; /* Цвет кнопки при наведении */
        }

    .message-image {
        max-width: 20%; /* Максимальная ширина изображения */
        border-radius: 8px; /* Закругленные углы изображения */
        margin-top: 5px; /* Отступ сверху */
    }
</style>
@code {
    string message = "";
    string userId = "";
    string userName = "";
    string movieName = "";
    [Parameter]
    public string movieId { get; set; }
    HubConnection hubConnection;
    List<ChatMessage> messages = new List<ChatMessage>();
    private IBrowserFile selectedFile;

    private Timer _timer;
    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder().WithUrl("http://localhost:5183/generalHub").Build();

        await hubConnection.StartAsync();
        await hubConnection.SendAsync("JoinMovieGroup", movieId);

        await LoadMessages();

        hubConnection.On<string, string, string>("ReceiveMessageGeneral", (userId, userName, message) =>
        {
            messages.Add(new ChatMessage
                {
                    UserId = userId,
                    UserName = userName,
                    Message = message,
                    Timestamp = DateTime.UtcNow
                });

            InvokeAsync(StateHasChanged);
        });
        _timer = new Timer(async _ =>
            {
                await LoadMessages();
                await InvokeAsync(StateHasChanged);
            }, null, TimeSpan.Zero, TimeSpan.FromSeconds(1));
    }

    private async Task LoadMessages()
    {
        try
        {
            var loadedMessages = await Http.GetFromJsonAsync<List<ChatMessage>>($"api/Chat/movie/{movieId}");
            messages = loadedMessages ?? new List<ChatMessage>();
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"Ошибка при загрузке сообщений: {ex.Message}");
            messages = new List<ChatMessage>();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Неизвестная ошибка: {ex.Message}");
            messages = new List<ChatMessage>();
        }
        finally
        {
            InvokeAsync(StateHasChanged);
        }
    }

    private async Task HandleSelectedFile(InputFileChangeEventArgs e)
    {
        var files = e.GetMultipleFiles(1);
        selectedFile = files.FirstOrDefault();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            userId = await JS.InvokeAsync<string>("localStorage.getItem", "currentUserId");
            userName = await JS.InvokeAsync<string>("localStorage.getItem", "currentUserName");
            movieName = await JS.InvokeAsync<string>("localStorage.getItem", "titleName");
            StateHasChanged();
        }
    }

    async Task SendMessageGeneral()
    {
        if (!string.IsNullOrWhiteSpace(message) || selectedFile != null)
        {
            if (selectedFile != null)
            {
                var filePath = Path.Combine("wwwroot/images", selectedFile.Name);

                using (var stream = selectedFile.OpenReadStream(maxAllowedSize: 2 * 1024 * 1024))
                using (var fileStream = new FileStream(filePath, FileMode.Create))
                {
                    await stream.CopyToAsync(fileStream);
                }

                message += $" [Изображение: {filePath.Replace("wwwroot", "")}]";
            }

            var newMessage = new ChatMessage
                {
                    UserId = userId,
                    UserName = userName,
                    Message = message,
                    Timestamp = DateTime.UtcNow
                };

            messages.Add(newMessage);
            InvokeAsync(StateHasChanged);
            await hubConnection.SendAsync("SendMessageGeneral", movieId, userId, userName, newMessage.Message);
            message = string.Empty;
            selectedFile = null;
        }
    }


    public async ValueTask DisposeAsync()
    {
        if (_timer != null)
        {
            _timer.Dispose();
        }
         
        if (hubConnection != null)
        {
            await hubConnection.SendAsync("LeaveMovieGroup", movieId);
            await hubConnection.DisposeAsync();
        }
    }
}